.App {
  text-align: center;
  padding: 120px;
  background-image: URL("https://cdn1.vox-cdn.com/assets/4229567/game-of-thrones-poster_85627-1920x1200.jpg") ;

  /* Full height */
  height:100%;
  width:100%;
  align-items: center;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .App {
  text-align: center;
  padding: 50px;
} */






